<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>972704449550-pf8k3ri057b3nefr8q71jl7m8b05i5dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972704449550-pf8k3ri057b3nefr8q71jl7m8b05i5dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBnfE2drvuC0v57hhi7eolW7vhYHwcy5wg</string>
	<key>GCM_SENDER_ID</key>
	<string>972704449550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nakaji.inuSanpo3</string>
	<key>PROJECT_ID</key>
	<string>isanpo-34841</string>
	<key>STORAGE_BUCKET</key>
	<string>isanpo-34841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972704449550:ios:591aaad5e64bb2b0</string>
	<key>DATABASE_URL</key>
	<string>https://isanpo-34841.firebaseio.com</string>
</dict>
</plist>